[submodule "extras/modules/codeigniter"]
	path = extras/modules/codeigniter
	url = https://github.com/warden1975/puppet-codeigniter.git
[submodule "puppet"]
	path = puppet
	url = https://github.com/warden1975/puppet.git
